In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('AccidentsBig.csv')

In [3]:
df.head()

,Accident_Index,longitude,latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Date
0,1,78.610393,14.724026,1,2,1,1,3,17:42,12,...,1,1,2,2,0,0,1,1,E01002849,04-01-2018
1,2,78.534042,14.762353,1,3,1,1,4,17:36,12,...,5,4,1,1,0,0,1,1,E01002909,05-01-2018
2,3,78.470877,14.745606,1,3,2,1,5,00:15,12,...,0,4,1,1,0,0,1,1,E01002857,06-01-2018
3,4,78.557994,14.667128,1,3,1,1,6,10:35,12,...,0,1,1,1,0,0,1,1,E01002840,07-01-2018
4,5,78.576431,14.703443,1,3,1,1,2,21:13,12,...,0,7,1,2,0,0,1,1,E01002863,10-01-2018

In [4]:
df.size()

TypeError: 'numpy.int32' object is not callable

In [5]:
df.shape()

TypeError: 'tuple' object is not callable